<div class="container">
    <br>
    <router-outlet ></router-outlet>
</div>
    <footer class="footer">
        <div class="container">
            წყარო: <a href="https://www.worldometers.info/coronavirus/" target="_blank">www.worldometers.info</a>
        </div>
      </footer>
  