<div class="form-group">
    <button type="button" class="btn btn-default form-group col-lg-3 col-xs-6 mr-3"  
      [ngClass]="{'btn-primary': today}"
      (click)="getTodayData()">დღეს</button>
    <button type="button" class="btn btn-default form-group col-lg-3 col-xs-6"
      [ngClass]="{'btn-primary': !today}"
      (click)="getYesterdayData()">გუშინ</button> 
  </div>
  <div class="alert alert-secondary  col-12" role="alert">
    დადასტურებული Covid 19-ის შემთხვევები ქვეყნების მიხედვით
  </div>
  <div class="progress " style="height: 3px;" *ngIf="loading">
    <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%; height: 3px;"></div>
  </div>
  <div class="table-responsive tableData">
    <table class="table table-striped table-bordered" >
      <thead class="thead-dark">
      <tr>
        <th scope="col"> Country, Other</th>
        <th scope="col">Total Cases</th>
        <th scope="col">New Cases</th>
        <th scope="col">Total Deaths</th>
        <th scope="col">New Deaths</th>
        <th scope="col">Total Recovered</th>
        <th scope="col">Active Cases</th>
        <th scope="col">Serious, Critical</th>
        <th scope="col">Tot Cases/ 1M pop</th>
        <th scope="col">Deaths/ 1M pop</th>
        <th scope="col">Total Tests</th>
        <th scope="col">Tests/ 1M pop</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of tableData">
        <td><strong>{{ data.name }}</strong></td>
        <td>{{ data.total_Cases  }}</td>
        <td [ngStyle]="{'background-color': data.new_Cases? '#FFEEAA' : ''}">{{ data.new_Cases }}</td>
        <td > <strong>{{ data.total_Deaths }}</strong></td>
        <td [ngStyle]="{'background-color': data.new_Deaths? 'red' : 'white'}">{{ data.new_Deaths }}</td>
        <td>{{ data.total_Recovered }}</td>
        <td>{{ data.active_Cases}}</td>
        <td>{{ data.serious_Critical }}</td>
        <td>{{ data.total_Cases_1M_Population }}</td>
        <td>{{ data.deaths_1M_Population }}</td>
        <td>{{ data.total_Tests }}</td>
        <td>{{ data.tests_1M_Population }}</td>
      </tr>
      </tbody>
    </table>
  </div>
  

